html {

    background-color: aliceblue;
}

a {

    margin-left: 1rem;
    margin-right: 1rem;
}

img {

    margin-top: 1rem;
}

h1 {

    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div {

    text-align: center;
}